body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


canvas {
    background-color: black;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}